/* styles.module.css */

.button {
    position: relative;
    transition: background-color 150ms ease;
  }
  
  .progress {
    composes: cover from global;
    height: auto;
    background-color: transparent;
    z-index: 0;
  }
  
  .label {
    position: relative;
    z-index: 1;
  }
  
    .menuControl {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border: 0;
      border-left: rem(1px) solid var(--mantine-color-body);
    }
  
    .avatar {
      border: rem(2px) solid var(--mantine-color-body);
    }